{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}



    <body>
        
        <div class="container bg-light shadow-md p-5 form-layout">

            <h3>Login to your account</h3>
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                
                {{form2|crispy}}
                {% csrf_token %}
                <br>
                
                <button type="submit" class="btn btn-primary w-100 btn-block p2">Login <i class="fa-solid fa-right-to-bracket"></i> </button>
                
            </form>
            <br>
            
            <div class="text-center">
                <p>Don't have have an account? </p> <a href="{% url 'register' %}"></a>
            </div>
        </div>
        <br>
    </body>

{% endblock %}    